.canvas {
    position: absolute;
    width: 374px;
    height: 426px;
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.1);
}

.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none; /* let mouse interactions pass to boxes */
    z-index: 2;
}

.conn-line {
    stroke: #d6c2a3;
    stroke-width: 4;
}

.label {
    font-weight:lighter;
    font-size: 22px;
    font-style: italic;
    fill: #e6d3b1;
    user-select: none;
    z-index: 4;
}
